@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-overlay-container {
  .ol-control button {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: inherit;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: 0.4em;
    background-color: rgba(0, 60, 136, 0.5);
    border: none;
    border-radius: 2px;
  }

  button {
    appearance: auto;
    font-style: Roboto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
  }

  .ol-zoom .ol-zoom-out {
    border-radius: 0 0 2px 2px;
    pointer-events: auto;
  }

  .ol-compass {
    border-radius: 0 0 2px 2px;
    pointer-events: auto;
  }
  .ol-attribution .ol-unselectable .ol-control .ol-uncollapsible .ol-collapsed {
    pointer-events: auto;
    position: fixed;
    bottom: 1px;
    right: 3px;
    text-align: -webkit-match-parent;
    display: inline;
    list-style: none;
    text-align: right;
    bottom: 0.5em;
    right: 0.5em;
    max-width: calc(100% - 1.3em);
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
  }

  .ol-attribution
    .ol-unselectable
    .ol-control
    .ol-uncollapsible
    .ol-collapsed
    .li {
    text-align: -webkit-match-parent;
  }

  .ol-attribution
    .ol-unselectable
    .ol-control
    .ol-uncollapsible
    .ol-collapsed
    .ul {
    margin: 0;
    padding: 1px 0.5em;
    color: #000;
    text-shadow: 0 0 2px #fff;
    font-size: 12px;
  }
}
